@import 'bootstrap';
@import 'hamburgler';
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,500,700|Montserrat:700,400);
@import 'logo';
@import 'xs';

body {
	font-family: 'Work Sans', Helvetica, sans-serif;
}

h1 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	text-align: center;
}

