/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Marcellus);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* COLORS */
body {
  background: #c6b7a7;
  box-sizing: border-box;
  background: url(../images/tan-bg.png) 0 0 repeat; }

p {
  font-weight: 300;
  padding: 15px 0;
  line-height: 1.6em;
  font-family: 'Marcellus', serif; }

a {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #d35326;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16.8px;
  font-size: 1.05em; }

a:hover {
  mask-image: url(../images/text-mask.png);
  -webkit-mask-image: url(../images/text-mask.png);
  -o-mask-image: url(../images/text-mask.png);
  -moz-mask-image: url(../images/text-mask.png);
  mask-type: luminance; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  opacity: .85; }

h2 {
  font-size: 40px;
  font-size: 2.5em; }

h3 {
  font-size: 48px;
  font-size: 3em;
  text-transform: uppercase;
  color: rgba(211, 83, 37, 0.85);
  mask-image: url(../images/text-mask.png);
  -webkit-mask-image: url(../images/text-mask.png);
  -o-mask-image: url(../images/text-mask.png);
  -moz-mask-image: url(../images/text-mask.png);
  mask-type: luminance; }

header h1 {
  font-size: 80px;
  font-size: 5em;
  color: #d35326;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #0f0f0f;
  max-width: 40%;
  padding: 15px; }
  header h1:after {
    content: "";
    background: url("../images/dancing-woman.png") 0 0 no-repeat;
    width: 175px;
    height: 300px;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
header h2 {
  font-family: 'Marcellus', cursive;
  font-size: 28px;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 400;
  padding: 0 15px 0 15px;
  margin-top: 40px; }
  header h2:before {
    display: block;
    width: 100%;
    border-top: 2px solid #000;
    content: "";
    margin-top: -45px;
    height: 25px; }

.main-supporting {
  position: relative; }

.summary {
  clear: both;
  margin-bottom: 100px; }
  .summary p {
    padding: 50px 15px 15px 15px; }
    .summary p:last-child {
      padding-top: 0; }

.preamble {
  position: relative; }
  .preamble:before {
    content: "";
    background: url("../images/bike.gif") 0 0 no-repeat;
    mask-image: none;
    -webkit-mask-image: none;
    -o-mask-image: none;
    -moz-mask-image: none;
    opacity: 1;
    width: 250px;
    height: 250px;
    position: relative;
    top: 100px;
    left: 30px;
    display: inline-block;
    background-size: contain;
    -webkit-transform: rotate(21deg);
    /* Firefox */
    -moz-transform: rotate(21deg);
    /* IE */
    -ms-transform: rotate(21deg);
    /* Opera */
    -o-transform: rotate(21deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.666); }
  .preamble h3 {
    text-transform: uppercase;
    color: rgba(211, 83, 37, 0.85);
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: -1;
    -webkit-transform: rotate(21deg);
    /* Firefox */
    -moz-transform: rotate(21deg);
    /* IE */
    -ms-transform: rotate(21deg);
    /* Opera */
    -o-transform: rotate(21deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.666); }
  .preamble h3 + p {
    position: relative;
    margin-top: 25px; }
    .preamble h3 + p:before {
      content: "";
      border-left: 0vw solid transparent;
      border-right: 100vw solid transparent;
      border-bottom: 40vw solid rgba(121, 106, 90, 0.75);
      display: block;
      mask-image: url(../images/text-mask.png);
      -webkit-mask-image: url(../images/text-mask.png);
      -o-mask-image: url(../images/text-mask.png);
      -moz-mask-image: url(../images/text-mask.png);
      mask-type: alpha;
      position: relative;
      left: -15px;
      right: 0;
      margin-bottom: 50px; }
  .preamble p {
    padding: 15px; }

.explanation h3 {
  text-transform: uppercase;
  color: rgba(211, 83, 37, 0.85);
  mask-image: url(../images/text-mask.png);
  -webkit-mask-image: url(../images/text-mask.png);
  -o-mask-image: url(../images/text-mask.png);
  -moz-mask-image: url(../images/text-mask.png);
  mask-type: luminance;
  z-index: -1;
  margin-top: 40px;
  margin-left: 15px; }
.explanation h3 + p:before {
  content: "";
  background: url("../images/cinema.png") 0 0 no-repeat;
  opacity: 1;
  height: 300px;
  background-position: center;
  margin-bottom: 40px;
  display: block;
  background-size: contain;
  z-index: -1; }
.explanation p {
  padding: 15px; }

.participation {
  position: relative;
  margin-top: 60px; }
  .participation:before {
    content: "";
    height: 300px;
    background: url("../images/people2-bg.png") 0 0 no-repeat;
    display: block;
    background-position: center;
    background-size: contain;
    mask-image: url(../images/text-mask.png);
    -webkit-mask-image: url(../images/text-mask.png);
    -o-mask-image: url(../images/text-mask.png);
    -moz-mask-image: url(../images/text-mask.png);
    mask-type: luminance;
    -webkit-mask-size: contain;
    opacity: 1; }
  .participation h3 {
    text-transform: uppercase;
    color: rgba(211, 83, 37, 0.85);
    mask-image: url(../images/text-mask.png);
    -webkit-mask-image: url(../images/text-mask.png);
    -o-mask-image: url(../images/text-mask.png);
    -moz-mask-image: url(../images/text-mask.png);
    mask-type: luminance;
    opacity: .95;
    padding: 15px; }
  .participation p {
    padding: 15px; }

.benefits {
  position: relative;
  margin: 60px 0; }
  .benefits h3 {
    text-transform: uppercase;
    color: rgba(211, 83, 37, 0.85);
    mask-image: url(../images/text-mask.png);
    -webkit-mask-image: url(../images/text-mask.png);
    -o-mask-image: url(../images/text-mask.png);
    -moz-mask-image: url(../images/text-mask.png);
    mask-type: luminance;
    z-index: -1;
    padding: 15px; }
  .benefits h3 + p:after {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    margin-left: -10px;
    background: url("../images/elegant-woman.png") 0 0 no-repeat;
    background-size: contain;
    background-position: center; }
  .benefits p {
    padding: 15px; }

.requirements {
  position: relative; }
  .requirements h3 {
    text-transform: uppercase;
    color: rgba(211, 83, 37, 0.85);
    mask-image: url(../images/text-mask.png);
    -webkit-mask-image: url(../images/text-mask.png);
    -o-mask-image: url(../images/text-mask.png);
    -moz-mask-image: url(../images/text-mask.png);
    mask-type: luminance;
    z-index: -1;
    padding: 15px; }
  .requirements p {
    padding: 15px; }
    .requirements p:last-child {
      background: #0f0f0f url("../images/dark-bg.png");
      margin-top: 200px;
      color: #c6b7a7; }
      .requirements p:last-child:before {
        content: "";
        display: block;
        width: 100%;
        height: 200px;
        background: url("../images/cat.png") 0 0 no-repeat;
        background-position: left;
        background-size: contain;
        top: 0;
        margin-top: -210px;
        margin-bottom: 30px; }

footer {
  padding: 15px;
  background: #0f0f0f url("../images/dark-bg.png"); }

aside {
  padding: 40px 15px; }
  aside .design-selection, aside .design-archives {
    margin-bottom: 35px; }
  aside h3 {
    text-transform: uppercase;
    color: rgba(211, 83, 37, 0.85);
    mask-image: url(../images/text-mask.png);
    -webkit-mask-image: url(../images/text-mask.png);
    -o-mask-image: url(../images/text-mask.png);
    -moz-mask-image: url(../images/text-mask.png);
    mask-type: luminance;
    margin-bottom: 15px; }
  aside li {
    color: #0f0f0f;
    padding: 10px 15px 10px 30px; }
    aside li a:hover {
      mask-image: none;
      -webkit-mask-image: none;
      -o-mask-image: none;
      -moz-mask-image: none; }
    aside li:hover {
      font-weight: bold;
      color: #fff;
      mask-image: url(../images/text-mask.png);
      -webkit-mask-image: url(../images/text-mask.png);
      -o-mask-image: url(../images/text-mask.png);
      -moz-mask-image: url(../images/text-mask.png);
      mask-type: luminance;
      background-color: rgba(211, 83, 37, 0.85);
      -webkit-transform: rotate(3deg);
      /* Firefox */
      -moz-transform: rotate(3deg);
      /* IE */
      -ms-transform: rotate(3deg);
      /* Opera */
      -o-transform: rotate(3deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.666); }
      aside li:hover a {
        color: #0f0f0f; }

@media (min-width: 591px) {
  h3 {
    font-size: 88px;
    font-size: 5.5em; }

  .summary, .preamble {
    width: 60%; }

  .preamble:before {
    width: 300px;
    height: 300px; }

  header h1:after {
    z-index: 2;
    opacity: 1; }
  header h2 {
    z-index: -1; } }

/*# sourceMappingURL=style.css.map */
