/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Marcellus|Cinzel+Decorative);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* COLORS */
body {
  background: #c6b7a7;
  box-sizing: border-box;
  background: url(../images/tan-bg.png) 0 0 repeat; }

p {
  font-weight: 300;
  padding: 15px 0;
  line-height: 1.6em;
  font-family: 'Marcellus', serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700; }

h2 {
  font-size: 40px;
  font-size: 2.5em; }

h3 {
  font-size: 24px;
  font-size: 1.5em; }

header h1 {
  font-size: 80px;
  font-size: 5em;
  color: #d35326;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #0f0f0f;
  max-width: 40%;
  padding: 15px; }
  header h1:after {
    content: "";
    background: url("../images/dancing-woman.png") 0 0 no-repeat;
    width: 175px;
    height: 300px;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
header h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 28px;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 400;
  padding: 0 15px 0 15px;
  margin-top: 40px; }
  header h2:before {
    display: block;
    width: 100%;
    border-top: 2px solid #000;
    content: "";
    margin-top: -45px;
    height: 25px; }

.summary {
  clear: both; }
  .summary p {
    padding: 50px 15px 15px 15px; }
    .summary p:last-child {
      padding-top: 0; }

.preamble {
  background: url(../images/people-bg.png) 0 0 no-repeat;
  background-size: contain;
  margin-top: 40px; }
  .preamble:before {
    content: "";
    display: block;
    height: 5px;
    top: 150px; }
  .preamble h3 {
    margin-top: 25%;
    height: 410px;
    background: url(../images/dark-bg.png) 0 0 repeat;
    padding: 15px 15%;
    text-transform: uppercase;
    color: #d35326;
    font-size: 32px;
    font-size: 2em; }
  .preamble h3 + p {
    margin-top: -370px; }
  .preamble p {
    color: #c6b7a7;
    padding: 15px 15% 15px 15%; }

.supporting {
  margin-top: 35px; }
  .supporting:before {
    content: url("../images/bike.gif");
    height: 600px;
    display: block; }
    .supporting:before img {
      width: 50%; }

@media screen and (min-width: 591px) {
  header h1:after {
    z-index: 1; } }

/*# sourceMappingURL=style.css.map */
