h1 {
	font-size: 3rem;
	margin-bottom: .25rem;
	margin-top: 3.5rem;
}

h2 {
	font-size: 1.6rem;
	font-weight: 300;
	text-align: center;
	margin: 0;
}

h3 {
	text-transform: uppercase;
	font-size: 1.6em;
	border-bottom: 3px solid $black;
	padding-bottom: 1rem;

}

#logo {
	//border-bottom: 4px solid #000;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.featured-work {
	margin-top: 6em;
}

.feature-image {
	width: 100%;
	height: 200px;
	background-color: $neutral-light;
	margin-top: 2em;
}